/* Colours */
/* Gradients */
/* Text Decorations */
/* HTML Default */
/* Navigation Bar Styling*/
/* Footer */
/* Default Styling */
* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link {
  color: #EFE9DA;
  text-decoration: none;
}

a:visited {
  color: #EFE9DA;
  text-decoration: none;
}

body {
  background-color: #FF8474;
}

/* Navigation Bar Styling*/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background: #554266;
  background: -webkit-gradient(linear, left top, left bottom, from(#554266), to(#857594));
  background: linear-gradient(180deg, #554266 0%, #857594 100%);
}

.navbar .burgerIcon img {
  height: 10vh;
  max-width: 15vw;
  padding-right: 3vw;
  cursor: pointer;
}

.navbar .logo {
  min-height: 15vh;
  max-width: 30vw;
  float: top left;
  z-index: 1;
  padding-left: 2%;
  padding-top: 2%;
  cursor: pointer;
}

.navbar .tele {
  font-size: 3vw;
  line-height: 10vh;
  text-shadow: 2px 2px #0c0c0c;
}

.navbar .tele a {
  text-decoration: none;
  white-space: initial;
}

/* Hamburger Menu Toggle */
#menu {
  display: none;
  z-index: 1;
  font-size: 1.2rem;
  text-align: center;
  position: fixed;
  top: 8vh;
  right: 3.5vw;
  background: #857594;
  background: -webkit-gradient(linear, left top, left bottom, from(#857594), color-stop(75%, #a87991));
  background: linear-gradient(180deg, #857594 0%, #a87991 75%);
  height: 150px;
  width: 200px;
  border: 2px solid #EFE9DA;
  border-radius: 6pt;
  -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
          box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
}

.navLinks {
  list-style: none;
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 2px 2px #0c0c0c;
  height: 150px;
  line-height: 50px;
}

#menuToggle:checked ~ div {
  display: block;
}

#menuToggle {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Container Styling */
.container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: auto;
  gap: 2vh;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  place-items: center;
}

.h1Text {
  color: #EFE9DA;
  text-shadow: 2px 2px #0c0c0c;
  font-size: 2rem;
  margin-top: 0.5ch;
  text-align: center;
}

.gMaps {
  width: 100vw;
  height: 50vh;
}

.mapEmbed {
  width: 100%;
  height: 100%;
}

.contact {
  background: #ff8474;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8474), color-stop(35%, #ffce9f));
  background: linear-gradient(180deg, #ff8474 0%, #ffce9f 35%);
  width: 100vw;
}

.contactInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 1ch;
  border-radius: 12pt;
  -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
          box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
  margin-left: 5vw;
  margin-right: 5vw;
  place-items: center;
  background-color: #FFDCBB;
}

.h2Text {
  color: #EFE9DA;
  text-shadow: 2px 2px #0c0c0c;
  font-size: 2rem;
  padding-bottom: 0.5ch;
}

.infoText {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.infoText2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 7;
      grid-template-rows: 7;
}

.hours {
  -ms-grid-column: 2;
  grid-column: 2;
}

a {
  text-shadow: 2px 2px #0c0c0c;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100vw;
  height: 20px;
}

footer .copyright {
  padding-left: 4ch;
  font-size: 0.6rem;
}

footer {
  background: #FECC9C;
}
/*# sourceMappingURL=contactustyle.css.map */