$ThemeColour: rgb(19, 255, 164);


* {
    background-color: rgb(34, 34, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    width: auto;
}

/* MOBILE SCREEN */
@media only screen and (min-width:600px){
    #div1 > iframe {
        height: 50vh;
        width: 100%;
    }
    p {
        font-size: 2rem ;
    }
    #div4 > img {
        width: 95%;
        height: auto;
        padding-left: 3%;
        object-fit: cover;
        visibility: visible;
    }
}

nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh;
    place-items: center;
    line-height: 10vh;
    overflow-y: scroll;
    width: 100%;
    gap:4px;
}

#topnav {
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
}

#div1 {
    display: grid;
    place-items: center;
    padding-left: 3%;
    width: 94.7%;
}

.mainview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    width: 95%;
    padding: 5px;
    padding-left: 3%;
    gap:4px;
}

.bottom {
    display: grid;
    width: 100vw;
}

article {
    max-width: 44rem;
}

.images {
    place-self: stretch;
}

.images > img {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wideimages {
    display: grid;
    height: 25%;
    width: auto;
    visibility: hidden;
}

.vid {
    iframe {
        height: 15vh;
        width: 100%;
    }
}

/* TABLET SCREEN */
@media only screen and (min-width:1000px){

header {
    position: sticky;
    top: 0;
    left: 0;
}

.aboutus {
    font-size: 1rem;
    margin: 12px;
}

#topnav a {
    text-decoration: none;
}

@keyframes Shimmer {
    0% {outline: 3px solid $ThemeColour}
    25% {outline: 3px solid rgb(95, 182, 148)}
    50% {outline: 3px solid rgb(53, 99, 81)}
    75% {outline: 3px solid rgb(87, 156, 130)}
    100% {outline: 3px solid $ThemeColour}
}

@mixin ShimmerAnimation() {
    animation: Shimmer 5s infinite;
}

.aboutus:hover {
    @include ShimmerAnimation();
    // animation: Shimmer 5s infinite;
}

.btn:hover {
    color: $ThemeColour;
    font-size: 1.3rem;
    text-decoration: none;
    text-shadow: 0 0 0.5em, 0 0 2.5em rgb(0, 0, 0);
    transition: ease 200ms;
}

a:visited {
    color:  rgb(255, 255, 255);
}

a:link {
    color: rgb(255, 255, 255);
}
}