/* Colours */
/* Gradients */
/* Text Decorations */
/* Navigation Bar Styling*/
/* Footer */
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background: #a87991;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87991), color-stop(75%, #fecc9c));
  background: linear-gradient(180deg, #a87991 0%, #fecc9c 75%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

a:link {
  color: #EFE9DA;
  text-decoration: none;
}

a:visited {
  color: #EFE9DA;
  text-decoration: none;
}

/* Navigation Bar Styling*/
header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  place-items: center;
  background: #554266;
  background: -webkit-gradient(linear, left top, left bottom, from(#554266), to(#857594));
  background: linear-gradient(180deg, #554266 0%, #857594 100%);
}

header .navbar .logo {
  height: 10vh;
  cursor: pointer;
}

header .navbar .tele {
  font-size: 4vw;
  line-height: 5vh;
  word-wrap: break-word;
  text-shadow: 2px 2px #0c0c0c;
}

header .navbar .tele a {
  text-decoration: none;
  white-space: initial;
}

header .navbar .burgerIcon img {
  width: 8vh;
  line-height: 5vh;
  cursor: pointer;
}

/* Hamburger Menu Toggle */
#menu {
  display: none;
  z-index: 1;
  font-size: 1.2rem;
  text-align: center;
  position: fixed;
  top: 8vh;
  right: 3.5vw;
  background: #857594;
  background: -webkit-gradient(linear, left top, left bottom, from(#857594), color-stop(75%, #a87991));
  background: linear-gradient(180deg, #857594 0%, #a87991 75%);
  height: 150px;
  width: 200px;
  border: 2px solid #EFE9DA;
  border-radius: 6pt;
  -webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
          box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.75);
}

.navLinks {
  list-style: none;
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 2px 2px #0c0c0c;
  height: 150px;
  line-height: 50px;
}

#menuToggle:checked ~ div {
  display: block;
}

#menuToggle {
  display: none;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Hero Image and Text */
.hero {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.hero .heroImage {
  height: 100%;
  width: 100%;
}

.hero .heroText {
  color: #EFE9DA;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px #0c0c0c;
  font-size: 4vw;
  text-align: center;
  -webkit-transform: translate(0%, -200%);
          transform: translate(0%, -200%);
}

.hero .heroText span {
  font-size: 5vw;
  font-style: italic;
  color: #a68ec5;
  text-decoration: underline;
}

/* Social Media Links*/
.socials {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: right;
      justify-self: right;
  -webkit-transform: translate(0%, -40%);
          transform: translate(0%, -40%);
}

.socials .sLinkImage {
  width: 10vw;
}

/* Video + About Us*/
.aboutUs {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: span;
      grid-template-columns: span;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.aboutUs .vidContainer {
  display: none;
}

.aboutUs .container1 h2 {
  font-size: 5.5vw;
  text-transform: uppercase;
  color: #EFE9DA;
  text-shadow: 2px 2px #0c0c0c;
}

.aboutUs .aboutUsText {
  color: #252525;
  font-size: 4vw;
  text-indent: 2em;
}

.aboutUs .clipShadow {
  -ms-grid-row: 3;
  grid-row: 3;
  -webkit-filter: drop-shadow(4px 4px 5px rgba(50, 50, 50, 0.75));
          filter: drop-shadow(4px 4px 5px rgba(50, 50, 50, 0.75));
}

.aboutUs .clipShadow img {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.aboutUs #menuitem {
  display: none;
}

.aboutUs #okotoks {
  display: none;
}

@media screen and (min-width: 600px) {
  .aboutUs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    place-items: center;
  }
  .aboutUs .vidContainer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1;
    display: block;
  }
  .aboutUs .container1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .aboutUs .container1 h2 {
    font-size: 5.5vw;
    text-transform: uppercase;
    color: #EFE9DA;
    text-shadow: 2px 2px #0c0c0c;
  }
  .aboutUs .container2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .aboutUs .container3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .aboutUs .container4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .aboutUs .aboutUsText {
    color: #252525;
    font-size: 4vw;
    text-indent: 2em;
  }
  .aboutUs .clipShadow {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-filter: drop-shadow(4px 4px 5px rgba(50, 50, 50, 0.75));
            filter: drop-shadow(4px 4px 5px rgba(50, 50, 50, 0.75));
  }
  .aboutUs img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .aboutUs img #interior {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  .aboutUs #menuitem {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
    display: block;
  }
  .aboutUs #okotoks {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    grid-row: 5;
    display: block;
  }
}

/* To Top of Page */
.jump {
  -ms-grid-row: 5;
  grid-row: 5;
}

.jump .caret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.jump img {
  width: 5%;
}
/*# sourceMappingURL=style.css.map */