@import 'variables';
@import 'mixins';

@include Defaults;

/* Navigation Bar Styling*/
@include Navbar;

/* Hero Image and Text */
.hero {
    width: 100vw;
    height: auto;
    .heroImage {
        height: 100%;
        width: 100%;
    }
    .heroText {
        color: $cream;
        font-family:Georgia, 'Times New Roman', Times, serif;
        @include shadow;
        font-size: 6.3vw;
        text-align: center;
        transform: translate(0%,-150%);
        margin-left: 4vw;
        margin-right: 4vw;
        span {
            font-size: 8vw;
            font-style: italic;
            color: #a68ec5;
            text-decoration: underline;
        }
    }
}

/* Social Media Links*/
.socials {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 50%;
    padding-right: 2ch;
    .sLinkImage {
        width: 10vw;
    }
}

/* Video + About Us*/
.aboutUs {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100vw;
    position: relative;
    bottom: 4ch;
    .youtubeVid {
        display: none;
    }
    h2 {
        font-size: 5.5vw;
        text-transform: uppercase;
        color: $cream;
        @include shadow;
        padding-left: 2ch;
    }
    .aboutUsText {
        width: 100vw;
        color: rgb(37, 37, 37);
        font-size: 4vw;
        text-indent: 2em;
        padding-left: 2ch;
        padding-right: 1ch;
        padding-top: 1ch;
        margin-bottom: 1ch;
    } 
    .container2 {
        padding-top: 4ch;
    }
    #menuitem {
        display: none;
    }
    .horzLine {
        height: 0.4vh;
        border-radius: 12pt;
        background-color: $cream;
        box-shadow: 2px 2px 3px rgba(50,50,50,0.75);
        margin-left: 5vh;
        margin-right: 5vh;
    }
    .clipShadow {
        filter: drop-shadow(4px 4px 5px rgba(50,50,50,0.75));
    }
    img {
        width: 90%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2ch;
        height: auto;
        object-fit: cover;
    }  
        #interior {
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        }

}

/* Footer */
@include footerstlye;